---
- hosts: server
  remote_user: ubuntu
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name:
          - docker
          - docker-compose
        state: present
    - name: Login DockerHub
      shell: docker login -u "{{DOCKER_USERNAME}}" -p "{{DOCKER_PASSWORD}}"
    - name: pull an image
      docker_image:
          name: thongle0610/nginx:jenkins
          source: pull
    - name: Create a container
      # docker_container:
      #   name: mynginx
      #   image: thongle0610/nginx:jenkins
      #   command: sleep 1d
      #   state: started
      shell: docker run -d -p 8080:80 thongle0610/nginx:jenkins
        # recreate: yes
...
  