---
- hosts: server
  remote_user: ubuntu
  become: yes
  tasks:
    - name: Install Docker
      apt:
        name:
          - docker
          - docker-compose
        state: present
    - name: Login DockerHub
      shell: docker login -u "{{DOCKER_USERNAME}}" -p "{{DOCKER_PASSWORD}}"
    - name: Pull default Docker image
      community.docker.docker_image:
        name: thongle0610/nginx:jenkins
        source: pull
    - name: Create a container
      community.docker.docker_container:
        name: mynginx1
        image: thongle0610/nginx:jenkins
        command: sleep 1d
        state: started
        # recreate: yes
        ports:
          - "80:80"
...
  